# Local Netlify folder
.netlify

# Node & dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
.cache/

# System files
.DS_Store
Thumbs.db

# Backup / temp files
*.bak
*.tmp
*.swp